*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
}
/*轮播图*/
.carousel{
    height: 427px;
    width: 640px;
    margin: 0 auto;
    background-color: #7c93ba;
    position: relative;/*相对定位*/
    overflow: hidden;
}
.carousel-images{
    width: 3200px;
}
.carousel-images li{
    float: left;
}
.carousel-images img{
    width: 640px;
    height: 100%;
    /*margin-right: 100px;*/
}
/*控制器*/
.prev,.next{
    width: 32px;
    height: 32px;
    position: absolute; /*绝对定位,脱离文档流,它相对于position:relative定义的元素进行定位 */
    top: 50%;
    margin-top: -16px;
}
.prev{
    background-image: url(http://qiniu.lstheart.top/img/picgo/20210105153119.png);
    left: 15px;
}
.next{
    background-image: url(http://qiniu.lstheart.top/img/picgo/20210105153458.png);
    right: 15px;
}
/*计数器*/
.count{
    width: 640px;
    height: 10px;
    position: absolute;
    bottom: 25px;
}
.count ul{
    width: 60px;
    height: 10px;
    margin: 0 auto;
    /*background-color: #00ff04;*/
}
.count ul li{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    cursor: pointer; /*鼠标形状设为手性*/
    opacity: .5; /*不透明度,0~1,可以是小数*/
    float: left;
    /*margin: auto;*/
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
}
.count .active{
    background-color: #ff0000;
    opacity: 1.0;
}