
/* class属性值*/
/* p[class]{ 
    color: #ff0000;
} */

/* class属性值以contnet开头 */
/* p[class^=content]{ 
    color: #ff0000;
} */
/* class属性值以contnet结尾 */
/* p[class$=content]{ 
    color: #ff0000;
} */
/* class属性值中包含p */
p[class*=p]{ 
    color: #ff0000;
}

/* 结构性选择器 */
/* 1) :root 匹配html标签,与body选择器效果一样*/
:root{
    background-color: darkcyan;
}
/* 2) 子元素选择
    :nth-child(n):第n个子元素
    */
p:first-child{
    /* color: #ffffff; */
    color: 
}