*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.content{
    background-color: #fff;
}
.header,.footer{
    height: 30px;
    background-color: #5a5ac2;
    margin: 10px auto;
}
.header li{
    float: left;
    margin:5px 5px;
    border:#fff solid 1px;
}
.content{
    background-color:antiquewhite;
    height: 600px;
    margin: 10px auto;
}
.content H1{
    border: 1px saddlebrown solid;
    text-align: center;
}