*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.portainer{
    /* height: 1250px; */
    width: 1250px;
    border: 1px solid rgb(151, 151, 151);
    
    /* background-color: rgb(209, 165, 165); */
    /* overflow: hidden; */
    /* position: absolute; */
}
.header,.content,.footer{
    width:1250px;
}
.header,.footer{
    height: 41px;
    background-color: #3b3bf180;
    text-align: center;
}
.head-ul li,.header,.footer,.content,.leftside,.rightside{
    float: left;
}
.portainer,.head-ul,.rightside-ul,.content{
    overflow: hidden;
}
.head-ul{
    margin: 0px 10px;
}
.head-ul li{
    /* float: left; */
    margin:10px 15px;
}
.content{
    /* height: 1200px; */
    /* border: 1px solid rgb(151, 151, 151); */
    /* height: 1168px; */
    background-color: rgb(219, 211, 211);
}
.content .leftside{
    width: 80%;
    border: 1px solid rgb(151, 151, 151);
}
.content h1{
    text-align: center;
    font-family: '黑体';
    margin: 26px auto;
}
.content h2,p{
    padding-left: 10px;
}
.content p{
    font-family: '楷体';
    text-indent: 2em;
    margin: 10px 0;
    /* line-height: 1; */
}
.content .rightside{
    padding-left: 10px;
    width: 238px;
    margin-top: 90px;
}
.rightside h3{
    width: 238px;
    /* margin: 0px 1em; */
    font-family: '黑体';
    background-color: #3b3bf180;
    padding: 5px 1em;
}

.content ul{
    border: 1px solid rgb(151, 151, 151);
    margin-top: -1px;
    margin-bottom: 10px;
}
.content ul li{
    list-style:disc;
    margin-left: 2em;
    
}
.footer div{
    margin: 10px 0;
    text-align: center;
    vertical-align:middle;
}