*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header .head-ul{
    margin: 0 auto;
    padding-left: 10px;
    background-color: rgb(248, 4, 4);
    overflow: hidden;
}
.header,.footer{
    height: 30px;
    /* background-color: #5a5ac2; */
    margin: 0px auto;
    text-align: center;
}
.header li{
    float: left;
    margin:10px 15px;
    border:#fff solid 1px;
    
}
.content{
    background-color:antiquewhite;
    height: 1200px;
    margin: 10px auto;
    /* position: absolute; */
    overflow: hidden;
    /* overflow-wrap: break-word; */
}
.content h1{
    border: 1px saddlebrown solid;
    text-align: center;
    font-family: '黑体';
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.leftside .position{
    position: absolute;
    border:#5a5ac2 1px solid;
    padding-left: 10px;
}
.content .leftside,.rightside{
    float: left;
    height: 900px;
    /* width: 400px; */
    /* padding: 0 20px; */
}
.content .leftside{
    width: 75%;
    margin: 0 10px;
    padding: 0 5px;
    border: 1px solid rgb(151, 151, 151);
}
.content .rightside{
    position: relative;
    /* margin-top:80px; */
    width: 20%;
}
.content h2{
    border:#5a5ac2 1px solid;
    padding-left: 10px;
}
.content p{
    font-family: '楷体';
    text-indent: 2em;
    margin: 10px 0;
    /* line-height: 1; */
}
.content h3{
    font-family: '黑体';
    border: 1px solid #ffffff;
    background-color: #5a5ac2;
}
.content ul{
    background-color: #9ee7e1;
    /* margin:0 10px 0; */
    border: 1px solid rgb(151, 151, 151);
    margin-top: -1px;
    margin-bottom: 10px;
}
.content ul li{
    list-style:disc;
    margin-left: 2em;
}
.footer{
    margin: o auto;
}