*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header,.content,.footer{
    width: 100%;
}
.header{
    height: 20px;
    background-color: #5a5ac2;
}