body {
    font-size: 18px;
    min-width: 600px;
}
.container{
    width: 100%;
    overflow: hidden;
}
.center,.right{
    float: left;
    height: 200px;
    width: 150px;
    line-height: 200px; /* 字体垂直居中 */
    position: relative;
}
.left{
    width: 100%;
    line-height: 200px;
    background-color: #ff0000;
    margin-right: -200px;
    z-index: 1;
}
.center{
    
    background-color: #ffff00;
}
.content{
    margin: 0 200px;
}
.right{
    
    background-color: #00ff00;
    margin-left: -150px;
}