body {
    font-size: 18px;
    min-width: 600px;
}
.container{
    width: 1000px;
    overflow: hidden;
}
.left,.right{
    float: left;
    width: 200px;
    height: 200px;
    line-height: 200px; /* 字体垂直居中 */
    /* color: #ffffff; */
}
.center{
    float: left;
    width: 100%;
    background-color: #ffff00;
}
.left{
    background-color: #ff0000;
    
}
.right{
    background-color: #00ff00;
}