.container{
    width: 100%;
}
.column{
    float:left;
    height: 200px;
}
.left{
    width: 300px;
    background-color: #f00;
}
.left{
    width: 300px;
    background-color: #f00;
}
.left{
    width: 300px;
    background-color: #f00;
}