.container{
    width: 100%;
}
.column{
    float:left;
    height: 200px;
}
.left{
    width: 300px;
    background-color: #f00;
}
.center{
    width: 300px;
    background-color: #0f0;
}
.right{
    width: 300px;
    background-color: #00f;
}